<h1>Farm Example</h1>

<div class="d-flex flex-wrap justify-content-center">
    <% @farmers.each do |farmer|%>
    <div class="bg-info w-25 gap-3 m-1">
        <h3><%= farmer.name%></h3>
        <ul>
            <% farmer.cows.each do |cow|%>
                <li><%= cow.name%></li>
            <%end%>
        </ul>
    </div>
<%end%>

</div>

